<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>

    <section class="wrapper">

        <h1 class="title"> Robots </h1>
        <nav>
            <a class="header-link" href="/">All Robots</a>
            <a class="header-link" href="/employment/employed">Employed</a>
            <a class="header-link" href="/employment/unemployed">Unemployed</a>

            <a class="header-link" href="/user/profile">My Profile</a>
            <a class="header-link" href="/auth/login">Login</a>
            <a class="header-link" href="/auth/signup">Signup</a>
        </nav>

        <div class="container">
            {{#users}}
            <div class="userbox">
                <img src="{{avatar}}" class="avatar"></a>
                <a href="/profile/{{_id}}" class="name">{{name}}</a> {{#job}}
                <div class="job">{{job}}, {{company}}</div>{{/job}} {{^job}}
                <div class="no-job">Available for hire</div>
                {{/job}}
            </div>
            {{/users}}
        </div>
    </section>

</body>

</html>